[defaults]
inventory = inventory/example/hosts.yml
roles_path = roles
host_key_checking = true
retry_files_enabled = false
interpreter_python = auto_silent
display_skipped_hosts = true
deprecation_warnings = true

[privilege_escalation]
become = true
become_method = sudo
